*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    max-height: 768px;
}

#container{
    display: flex;
}

#principal{
    background-color: #E8EBE4;
    max-height: 768px;
    border: 1px;
    border-color: #828485 ;
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 1066px;
}

#principal h1{
    font-size: 45px;
    align-self: center;
    font-weight: normal;
}

#principal p{
    align-self: center;
    font-size: 16px;
}

#principal_img{
    align-self: center;
    height: 150px;
}

#principal p b {
    font-weight: bold;
}
#menu{
    background-color: #fff;
    max-height: 100%;
    border: 1px;
    border-color: #828485 ;
    display: flex;
    flex-direction:column;
    justify-content:center;
    flex-basis: 300px;
}

#menu_perfil{
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    border: 1px solid #E8EBE4;
}

#menu_perfil_maria {
    padding-left: 0px;
    padding-top: 8px;
    display: flex;
}

#menu_perfil_botones{
    display: flex;
    justify-content: center;
}

.menu_perfil_botones_btn{
    align-self: center;
    margin-left: 10px;
    color: #bec1bb;
}

#menu_perfil_maria_img img{
    height: 40px;
    border-radius: 20px;
}

#menu_perfil_maria_datos{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#menu_perfil_maria_datos_nombre{
    font-weight: normal;
    color: #1b1f21;
    font-size: 16px;
}

#menu_perfil_maria_datos_estado{
    color: #bec1bb;
    font-size: 10px;
}

#menu_boton{
    display: flex;
    justify-content:center;
    border: 1px solid #E8EBE4;
}

#menu_boton_btn{
    margin: 18px 10px;
    text-align: center;
    font-size: 16px;
    width: 60%;
    height: 40px;
    color:#fff;
    border:0;
    background-color: #a491d2;
}

#menu_boton_btn:hover{
    background-color: #cdc3e6;
}

#menu_boton_btn:focus{
    background-color: #d4dcff;
}

#menu_perfil_botones{
    display: flex;
}

.participante{
    padding:7px 30px;
    display: flex;
    border: 1px solid #E8EBE4;
    flex-direction:row;
    align-items: center;
    column-gap: 20px;
}

.participante_texto{
    display: flex;
    flex-direction: column;
}

.participante_nombre {
    font-weight: bold;
    color: #1b1f21;
    font-size: 16px;
}

.participante_info{
    color: #444749;
    font-size: 10px;
}

.participante_img img{
    height: 40px;
    border-radius: 20px;
}